@import "./popup.css";

body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  margin: 1em;
  font-size: 0.875em;
}

h2 {
  margin: 0.5em auto 0;
}

h3 {
  margin: 0.5em auto;
}

input,
textarea {
  box-shadow: none !important;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 1em;
}

input.space-above {
  margin-top: 0.25em;
}

#message_area {
  border: 2px #808080 solid;
  padding: 0.5em 1em 0 1em;
}

#operator_only {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.horizontal-radios {
  padding-top: 0.25em;
}

.horizontal-text-fields label {
  margin-right: 0.5em;
}
.horizontal-text-fields input {
  margin-right: 0.5em;
}

#comm-modes {
  margin-top: 0.75em;
}

.bottom-controls {
  margin-top: 1em;
}

.column-of-buttons {
  display: block;
  float: left;
  margin-right: 2em;
}

legend {
  font-weight: bold;
}

legend.tight {
  background-color: #dcdcdc;
  border: none;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 0;
  padding-left: 0.5em;
  width: 5em;
}

textarea {
  font-family: monospace;
  line-height: 1.3;
}

.cc-checkboxes {
  margin-top: 0.3em;
}

.pure-form label.section-title {
  display: block;
  font-weight: bold;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

/*
 * Vite bug
 * https://github.com/vitejs/vite/issues/9402
 */

@media print {
  body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    font-size: 9pt;
  }

  h3 {
    font-size: 9pt;
    margin-top: 0;
  }

  .do-not-print,
  .no-print {
    display: none;
  }

  div.gutter-right {
    margin-right: 1em;
  }

  textarea {
    font-size: 7.5pt;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 3pt;
  }

  .pure-form label.section-title {
    margin-top: 3pt;
    margin-bottom: 3pt;
  }
}
